<nav class="navbar navbar-expand bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" th:text="#{navbar.home}" th:href="@{/invitations}">Inicio</a>
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" th:text="#{navbar.invitations}" th:href="@{/invitations}">Invitaciones</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" th:text="#{navbar.people}" th:href="@{/people}">Personas</a>
			</li>
		</ul>
		<a class="btn" th:href="@{/logout}" th:text="#{logout}">Cerrar sesión</a>
	</div>
</nav>