<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/include}"></head>

<body>
	<nav th:replace="~{fragments/navbar}"></nav>

	<div style="margin-top: 40px; margin-left: 50px">

		<div class="mb-2">
			<a class="btn btn-outline-primary" th:href="@{/people}">
				<i class="fa-solid fa-arrow-left"></i> <span th:text="#{goBack}"></span>
			</a>
		</div>

		<div class="py-4">
			<h3 th:text="#{header.details}"></h3>
		</div>

		<div class="py-3">
			<table>
				<tbody th:object="${person}">
					<tr>
						<th th:text="#{details.label.id}"></th>
						<td th:text="*{id}"></td>
					</tr>
					<tr>
						<th th:text="#{details.label.firstName}"></th>
						<td th:text="*{firstName}"></td>
					</tr>
					<tr>
						<th th:text="#{details.label.lastName}"></th>
						<td th:text="*{lastName}"></td>
					</tr>
					<tr>
						<th colspan="2" th:text="'->' + #{details.label.invitation} + '<-'"></th>
					</tr>
					<tr>
						<th th:text="#{details.label.id}"></th>
						<td>
							<a th:href="@{/invitations/{id}(id=*{invitationId})}" th:text="*{invitationId}"></a>
						</td>
					</tr>
					<tr>
						<th th:text="#{details.label.description}"></th>
						<td th:text="${invitation.description}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="mt-3">
			<a th:href="@{/people/update/{id}(id=${person.id})}" th:text="#{edit}"></a>
		</div>
	</div>
</body>

</html>